@import 'tailwindcss';
@import '@habla/config/tailwind/preset.css';

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-white text-neutral-900;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-neutral-950 text-neutral-50;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
